[Unit]
Description=StorVerity privileged raw-probe helper
Documentation=https://github.com/soyunomas/storverity

[Service]
Type=dbus
BusName=io.github.soyunomas.StorVerity.Helper1
ExecStart=/usr/libexec/storverity-helper
User=root
Group=root
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
RestrictAddressFamilies=AF_UNIX
LockPersonality=yes
MemoryDenyWriteExecute=yes
RestrictRealtime=yes
UMask=0077
